@media (min-width: 350px) {
    html {
        font-size: 10px;
    }

    .theme__button {
        margin: 0 38px;
    }
}

@media (min-width: 400px) {
    .hero {
        &__content--buttons {
            .button__secondary i {
                display: block;
            }
        }
    }
}
@media (min-width: 436px) {
    .footer {
        &__top {
            flex-direction: row;
            gap: 32px;
        }
    }
}
@media (min-width: 576px) {
    .whyus__items {
        align-items: center;
    }
}
@media (min-width: 650px) {
}
@media (min-width: 767px) {
    html {
        font-size: 12px;
    }

    header {
        padding-bottom: 0;
    }

    .header {
        &__search {
            display: none;
        }
        &__content {
            &--right i:first-child {
                display: block;
            }
        }
    }

    .hero {
        &__bottom {
            flex-direction: row;
            margin-top: 30px;

            &--down {
                @include flex-box(center, center, 0);
                flex-basis: 30%;
            }

            &--cards {
                flex-basis: 70%;
                overflow: hidden;
                padding-top: 100px;

                .product__card {
                    min-height: 180px;
                    &--img {
                        img {
                            max-width: 185px;
                        }
                    }
                }
            }
        }
    }

    .whyus {
        &__card {
            padding: 42px 48px;
        }
        &__items {
            flex-direction: row;

            &--item {
                p {
                    font-size: 24px;
                }
            }
        }
    }

    .offer {
        &__content {
            flex-direction: row;
            justify-content: space-between;
        }

        &__timer {
            width: 100%;
            max-width: 340px;
        }

        &__product {
            &--title {
                &--small {
                    display: none;
                }

                &--big {
                    display: block;
                    font-size: 32px;
                    margin-bottom: 50px;
                }
            }

            &--img {
                img {
                    max-width: 625px;
                    min-width: 400px;
                }
            }

            &--description {
                flex-basis: 50%;
                @include flex-box(center, center, 0);
                flex-direction: column;
            }
        }
    }

    .accessories {
        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__card {
            flex-basis: calc(50% - 16px);
        }
    }

    .app {
        &__card {
            // @include flex-box(center, center, 0);
            flex-direction: row;
            padding: 42px 20px;

            &--img {
                img {
                    width: 100%;
                    max-width: 350px;
                }
            }

            &--bottom {
                flex-direction: row;
                gap: 21px;

                img {
                    width: 100%;
                    max-width: 208px;
                }
            }
        }
    }

    .footer {
        h4 {
            color: $white;
            font-size: clamp(18px, 2vw, 24px);
        }
        &__left {
            &--content {
                flex-direction: row;
                gap: 20px;
                align-items: center;
            }
        }

        &__logo--big {
            display: block;
        }

        &__subscribe {
            flex-direction: row;
            width: 100%;
            max-width: 500px;
            &--big {
                @include flex-box(flex-start, flex-start, 8px);
                flex-direction: column;
            }

            &--small {
                display: none;
            }
        }
    }
}

@media (min-width: 850px) {
    .header {
        &__logo {
            &--big {
                display: block;
            }

            &--small {
                display: none;
            }
        }

        &__menu {
            display: none;
        }

        &__close--btn {
            display: none;
        }

        &__content {
            &--items {
                position: static;
                flex-direction: row;
                background: none;
                // gap: 50px;
                // color: ;

                .menu__items {
                    position: relative;
                    @include hw(100%, 60%);
                    width: 100%;
                    background: none;
                }
            }
            &--right {
                i {
                    // font-size: ;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
                .button {
                    display: block;
                }
            }
        }

        &__items {
            flex-direction: row;

            &--link {
                color: $black;
            }
        }

        .checkbox-label {
            width: 80px;
            height: 37px;
            padding: 10px;
        }

        .fa-moon {
            color: #f1c40f;
            font-size: 20px;
        }

        .fa-sun {
            color: #f39c12;
            font-size: 20px;
        }

        .checkbox-label .ball {
            width: 28px;
            height: 28px;
            left: 6px;
            top: 4px;
        }

        .checkbox:checked + .checkbox-label .ball {
            transform: translateX(42px);
        }
    }
}

@media (min-width: 991px) {
    html {
        font-size: 12px;
    }

    .container {
        margin: 0 auto;
        padding: 0 8px;
    }
    .hero {
        &__inner {
            @include flex-box(flex-start, space-between, 0);
        }
        &__content {
            margin-top: 0;
            flex-basis: 50%;
            max-width: 650px;
            padding-left: 20px;
            margin: 0 auto;

            // h1 {
            //     font-size: clamp(50px, 8vw, 55px);
            // }
        }

        &__bg {
            flex-basis: 50%;
            display: block;
            img {
                @include image(100%, 100%, contain);
                margin-top: -80px;
            }
        }

        &__bottom {
            margin-top: -220px;
        }
    }

    .trend__card--content {
        h4 {
            font-size: 24px;
        }

        ul {
            li {
                font-size: 18px;
            }
        }
    }

    .offer {
        &__product {
            &--title {
                &--big {
                    font-size: 38px;
                    margin-bottom: 80px;
                }
            }
        }
    }
}
@media all and (min-width: 1024px) {
}
@media (min-width: 1150px) {
    .header {
        &__logo--big {
            img {
                width: 124px;
            }
        }
        &__content--right {
            i:first-child {
                margin-inline: 5rem 2.5rem;
            }
        }
    }

    .hero {
        &__content {
            margin-top: 6.25rem;

            // h1 {
            //     font-size: clamp(50px, 10vw, 60px);
            // }

            &--buttons {
                .button {
                    max-width: 200px;
                    padding: 16px;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 16px;
    }

    .hero {
        &__content {
            margin-top: 6.25rem;

            // h1 {
            //     line-height: 100px;
            // }

            p {
                font-size: 24px;
            }

            &--buttons {
                .button {
                    max-width: 223px;
                    padding: 18px;
                }
            }
        }
        &__bg {
            flex-basis: 50%;
            img {
                @include image(100%, 100%, contain);
            }
        }
    }

    .whyus {
        h3 {
            font-size: 40px;
        }
        &__items {
            flex-direction: row;

            &--item {
                p {
                    font-size: 32px;
                }
            }
        }
    }

    .offer {
        &__product {
            &--title {
                &--big {
                    font-size: 42px;
                    margin-bottom: 100px;
                }
            }
        }
    }
}
